
# source is a directory to backup. Multiple sources may be backed up by
#   adding additional source lines.

source = /etc
source = /home
source = /root
source = /var/lib/pgsql/10/backups
source = /var/lib/pgsql/11/backups
source = /var/lib/pgsql/9.2/backups
source = /var/lib/pgsql/9.5/backups
source = /var/lib/pgsql/9.6/backups
source = /var/spool/anacron
source = /var/spool/cron
source = /var/spool/mail

# backup_interval is used by autosnap to deternine the amount of time
#   since the last good backup before the next backup should be performed.
#   The format for specifying the interval is:
#
#   [ nd ] [ nh ] [ nm ] [ ns ]
#
#   where n is a positive integer and d, h, m, and s indicate days,
#   hours, minutes, and seconds. One or more units may be specified,
#   such as '2h 30m'
#
backup_interval = 7d

# save_count is the number of backups to save
#save_count = 20
